<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="testConn" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=emsdb;server=(local)"/>
    <add name="testConn2" 
         connectionString="Data Source=192.168.0.15,1433;Initial Catalog=emsdb;User ID=ems_admin;Password=qwerty;Connection Timeout=5;"/>
    <add name="testConn3"
         connectionString="Data Source=MAYE-LAPTOP;Initial Catalog=emsdb;User ID=ems_admin;Password=qwerty;Connection Timeout=5;"/>
  </connectionStrings>
</configuration>